{% extends "template_base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../assets/css/navbar_other_page.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/css/article.css"/>
    {# <link rel="stylesheet" type="text/css" href="../assets/css/form_contact.css"/> #}
{% endblock %} 

{% block content %} 
    <h3>Me contacter</h3>
    {% if app.security.isConnected %}
        {% if message is not null %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div> 
        {% endif %}
        <form method="POST"> 
                <div class="form-group">
                    <label>Sujet</label>
                    <input type="text" placeholder="Sujet" id="sujet" name="sujet" class="form-control" required minlength="4" maxlength="100">
                </div>
                <div class="form-group">
                    <label>Nom</label>
                    <input type="text" placeholder="Votre nom" id="nom" name="nom" class="form-control" required minlength="1" maxlength="100">
                </div>
                <div class="form-group">
                    <label>Prénom</label>
                    <input type="text" placeholder="Votre prénom" id="prenom" name="prenom" class="form-control" required minlength="1" maxlength="100">
                </div>
                <div class="form-group"> 
                    <label>Contenu</label>
                    <textarea id="contenu" name="contenu" placeholder="Contenu" class="form-control" required minlength="4"></textarea> 
                </div> 
                <input type="HIDDEN" id="author_mail" name="author_mail" value="{{app.security.getUserConnected.email}}" />
                <input class="btn btn-primary" type="submit" value="Envoyer" name="mail" id="mail"/>
        </form>
    {% else %}
        <h3>Pour envoyer un email, veuillez vous connecter.</h3> 
            <a href="?where=login">Login</a> <br/>
            <a href="?where=registration">Pas de compte ?</a>
    {% endif %}
{% endblock %}
