{% extends "admin_template_base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="../assets/css/detail_admin.css"/>
{% endblock %}
{# Faire un form plus propre  #}
{% block content %}
<header role="banner">
  <h1>Admin Panel</h1>
  <ul class="utilities">
    <br>
    <li class="dashboard"><a href="?where=administration">Dashboard</a></li>
    <li class="users"><a href="?where=home">Retour au site</a></li>
    <li class="logout warn"><a href="?where=logout">Déconnexion</a></li>
  </ul>
</header>

     <div class="container">
        <form method="POST" enctype="multipart/form-data">
        {# modifier si on modifie l'article #}
            <h2>Modifier un article</h2>

            <div class="form-group">
                <label>Titre</label>
                <input type="text" name="titre" placeholder="Titre" id="titre" class="form-control" value="{{post.title}}"/>
            </div>

            <div class="form-group">
                <label>Chapô</label>
                <input type="text" name="chapo" placeholder="Résumer" id="chapo" class="form-control" value="{{post.chapo}}"/>
            </div>

            <div class="form-group">
                <label>Contenu</label>
                <textarea id="post" name="contenu" placeholder="Contenu de l'article" class="form-control" >{{post.content}}</textarea> 
            </div>
 
            <div class="form-group">
                <label>Image</label>
                <input type="file" id="image" name="image"/>
            </div>

            <input type="HIDDEN" id="author" name="author" value="{{app.security.username}}" />

            <input class="btn btn-primary" type="submit" value="Modifier" name="updatePost" id="updatePost"/>
            <input class="btn btn-danger" type="submit" value="Supprimer" name="deletePost" id="deletePost"/>
 
        <a href="?where=adminListPosts">Retour</a>
        </form> 
    </div>
{% endblock %}