{% extends "admin_template_base.html.twig" %}

{% block content %}
    <h2>Administration</h2>
    <a href="?where=adminArticles">Gestion des articles</a>
    <a href="?where=listUsers">Gestion utilisateurs</a>
{% endblock %}