{% extends "template_base.html.twig" %}


{% block content %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="../assets/banner.css"/>
    {% endblock %}
    <div class="header-banner"></div> {#Contient l'image de la banniere #}
{% endblock %}