<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
    <title>Bara Ervin : Présentation</title>
      <meta name=viewport content="width=device-width, initial-scale=1"> 
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Notable|Roboto" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
    {% block stylesheets %}
    {% endblock %}
</head>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="?where=home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="?where=allPosts" class="nav-link">Articles</a>
        </li>
        
        {# Si un utilisateur est connecté #}
        {% if not app.security.isConnected %}
          <li class="nav-item">
            <a href="?where=registration" class="nav-link">Inscription</a>
          </li>
        
          <li class="nav-item">
            <a href="?where=login" class="nav-link">Connexion</a>
          </li>
        {% endif %}
        
        {% if app.security.isConnected %}
        <li class="nav-item">
          <a href="?where=logout" class="nav-link">Déconnexion</a>
        </li>

        <li class="nav-item">
          {{app.security.username}}
        </li>
        {% endif %}

        {# {% if app.user.session.get('username') same as('Ervin') %}
        <li class="nav-item">
          <a href="?where=administration" class="nav-link">Administration</a>
        </li> #}
        {# {% endif %} #}
      </ul>
    </div>
  </nav>
</header>

{% block content %}
{% endblock %}

{% block javascripts %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}